
* {
  box-sizing: border-box;
}


.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.hero p {
  margin-top: 0px;
  font-size: 1.2rem;
  color: #e5e7eb;
}
