/* NAVBAR */
.navbar {
  width: 100%;
  background: linear-gradient(135deg, #ede0d4, #d1c3b5); /* sky blue */
  padding: 40px 0; /* increased height */
  box-shadow: 0 5px 15px rgba(247, 248, 248, 0.044);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* INNER */
.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* CENTER LOGO */
.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px; /* bigger */
  font-weight: 700;
  color: #070707;
}

/* LOGO IMAGE */
.nav-logo-img {
  width: 80px;
  height: 70px;
  object-fit: contain;
}

.nav-links {
  position: absolute;
  right: 30px;   /* change from left to right */
  display: flex;
  gap: 20px;
}
/* LINKS STYLE */
.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  padding: 8px 14px;
  border-radius: 10px;
  transition: 0.3s;
}

/* HOVER */
.nav-links a:hover {
  background: rgba(234, 230, 230, 0.6);
}

/* ACTIVE */
.nav-links a.active {
  background: white;
  color: #030303;
  font-weight: 600;
}

/* HAMBURGER RIGHT */
.hamburger {
  position: absolute;
  right: 20px;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #f0f1f4;
  border-radius: 4px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 20px;
    background: white;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    border-radius: 16px;
    width: 200px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.3s;
  }

  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  html {
  scroll-behavior: smooth;
}
}