.team {
  padding: 100px 60px;
  text-align: center;
  background: radial-gradient(circle at top, #c8bbc6, 5px solid #38bdf8);
}

/* Title */
.team-title {
  font-size: 2.6rem;
  color: #111827;
  font-weight: 600;
}

.team-subtitle {
  margin-top: 10px;
  font-size: 1rem;
  color: #6b7280;
}

/* Grid */
.team-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* force same line on desktop */
  gap: 32px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}


/* Card */
.project-card {
  background: rgba(255, 255, 255, 0.7);
  padding: 32px;
  border-radius: 22px;
  text-align: left;
  backdrop-filter:none; /* remove blur */
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  border: 1px solid rgba(4, 3, 3, 0.05);
  width: 100%;
  max-width: 320px;
  display: flex;          /* ✅ required */
  flex-direction: column; /* keeps cards neat */
}

.project-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.member-img {
  width: 160px;       /* fixed width */
  height: 200px;      /* fixed height */
  border-radius:0%; /* circle shape */
  object-fit: cover;  /* crop image nicely */
}

/* Role */
.project-card h3 {
  font-size: 1.35rem;
  color: #1f2937;
  margin-bottom: 10px;
}

/* Name */
.member-name {
  font-size: 1.09rem;
  font-style: normal;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 18px;
}

/* Social icons */
.social-links {
  display: flex;
  gap: 14px;
  margin-top: auto;          /* ⭐ pushes icons to bottom */
  justify-content: center;
}

.social-links a {
  font-size: 1.2rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background: rgba(59, 130, 246, 0.25);
  transform: scale(1.1);
}
.linkedin-btn {
  background: #0077b5;
  color: rgb(0, 0, 0);
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
}



/* Responsive */
@media (max-width: 900px) {
  .team {
    padding: 80px 30px;
  }
}

@media (max-width: 768px) {
  .team-list {
    grid-template-columns: 1fr; /* one card per row */
  }

  .project-card {
    max-width: 320px; /* slightly wider on mobile */
    margin: 0 auto;
    text-align: center;
    display: flex;              /* ✅ ADD */
  flex-direction: column;
  }

  .social-links {
    justify-content: center;
    margin-top: auto;
  }
}
